body {
    margin: 0;
    padding: 0;
    background-color: #0f0f19;
    color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}

#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    body {
        height: 100%;
        width: 100%;
        position: fixed;
        overflow: hidden;
    }

    #game-container {
        height: 100%;
        align-items: flex-start;
        padding-top: 10px;
        box-sizing: border-box;
    }
}

canvas {
    display: block;
    border-radius: 4px;
}